*{
  margin: 0;
  padding: 0;
  color: white;
}

body{
  background-color: black;
}

#nav-bar{
  position: fixed;
  z-index: 1;
  background-color: #111111;
  width: 100%;
}

nav{
  height: 3em;
}

nav img{
  display: inline;
  height: 3em;
}

nav div{
  display: inline-block;
}

#social-media-icons{
  margin-left: 2em;
}

#social-media-icons img{
  margin: auto 0.3em;
  transform: scale(0.7);
}

nav #nav-text-wrapper{
  display: inline;

  font-size: 1.2em;

  position: absolute;

  margin-left: 2em;

  top: 50%;
  transform: translate(0, -50%);
}

#navigation-buttons {
  display: inline;
  position: absolute;
  right: 1em;

  margin-right: 2em;

  top: 50%;
  transform: translate(0, -50%);

}

#navigation-buttons ul{
  display: inline;
  cursor: pointer;

  /* Replace this font */
  font-family: 'Segoe UI', arial;

  margin-right: 2em;

  padding: 0.5em;

  font-size: 100%;

  background-color: #FCA469;

  transition: 100ms;
}

#navigation-buttons ul:hover{
  background-color: gray;
}

header{
  height: 500px;
  background: url("./images/header-image.jpg");
  background-position: 50% 45%;
  background-size: 100%;
  background-repeat: no-repeat;

  background-attachment: fixed;

  position: relative;
}

header img{
  height: 100%;
}

div#logo-wrapper{

  background-color: rgba(0,0,0,0.45);

  padding: 2em;

  border-radius: 20px;

  display:inline-block;

  position: absolute;

  top: 8em;
  right: 13em;

}

section{
  background: url('./images/sparks.jpg');
  background-size: 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: relative;

  height: 800px;

  border-top: solid 1em black;
}

section #welcome-div{
  display: inline-block;
  height: 270px;
  width: 330px;

  /* margin-left: 15em;
  margin-top: 2em; */

  margin-left: 15%;
  margin-right: 85%;
  margin-top: 3em;

  position: absolute;


  text-align: center;

  background-color: #041526;

  box-shadow: 0px 20px 30px #000;

  border-radius: 20px;
}

#welcome-div h1{
  margin-top: 2em;
}

#welcome-div p{
    margin-top: 1.5em;
    width: 80%;

    font-family: arial;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

section{
  display: inline-block;
  width: 100%;
  height: 700px;

  position: relative;
}

#workers-img-wrapper{
  position: absolute;
  top: 20%;
  right: 5%;

}

#workers-img-wrapper img{
  height: 400px;

  box-shadow: 0px 20px 30px #000;

  border-radius: 20px;
}

#call-info-wrapper{
  display:inline-block;

  position: absolute;

  bottom: 12%;
  left: 18%;

  padding: 1em;


  background-color: rgba(0,0,0, 0.20);
}

#call-info-wrapper img{
  display: inline-block;
  height: 30px;
}

#call-info-wrapper p{
  display: inline-block;
  position: absolute;
  /* Kinda makes the phone numbers look centered.
  Fix this somehow */
  transform: translate(0, 45%);

  padding-left: 1em;
}
