*{
  margin: 0;
  padding: 0;
  color: white;
}

p{

    font-family: 'Open sans', sans-serif;
}

h1{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.04em;
}

h2{
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.04em;
}

body{
  background-color: black;
}

#nav-bar{
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0, 0.75);
  width: 100%;
}

nav{
  height: 3em;
}

nav img{
  display: inline;
  height: 3em;
}

nav div{
  display: inline-block;
}

#social-media-icons{
  margin-left: 2em;
}

#social-media-icons img{
  margin: auto 0.3em;
  transform: scale(0.7);
}

nav #nav-text-wrapper{
  display: inline;

  font-size: 1.2em;

  position: absolute;

  margin-left: 2em;

  top: 50%;
  transform: translate(0, -50%);
}

#navigation-buttons {
  display: inline;
  position: absolute;
  right: 1em;

  margin-right: 2em;

  top: 50%;
  transform: translate(0, -50%);

}

#navigation-buttons ul{
  display: inline;
  cursor: pointer;

  /* Replace this font */
  font-family: 'Segoe UI', arial;

  margin-right: 2em;

  padding: 0.5em;

  font-size: 100%;

  background-color: #FCA469;

  transition: 100ms;
}

#navigation-buttons ul:hover{
  background-color: gray;
}

header{
  height: 500px;
  background: url("./images/header-image.jpg");
  background-position: 50% 45%;
  background-size: 100%;
  background-repeat: no-repeat;

  background-attachment: fixed;

  position: relative;
}

header img{
  height: 100%;
}

div#logo-wrapper{

  background-color: rgba(0,0,0,0.45);

  padding: 2em;

  border-radius: 20px;

  display:inline-block;

  position: absolute;

  top: 8em;
  right: 13em;

}

#welcome-section{
  background: url('./images/sparks.jpg');
  background-size: 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  position: relative;

  height: 800px;

  border-top: solid 1em black;
}

section #welcome-div{
  display: inline-block;
  height: 270px;
  width: 330px;

  /* margin-left: 15em;
  margin-top: 2em; */

  margin-left: 15%;
  margin-right: 85%;
  margin-top: 3em;

  position: absolute;


  text-align: center;

  background-color: #041526;

  box-shadow: 0px 20px 30px #000;

  border-radius: 20px;
}

#welcome-div h1{
  margin-top: 2em;
}

#welcome-div p{
    margin-top: 1.5em;
    width: 80%;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

section{
  width: 100%;

  position: relative;
}

#workers-img-wrapper{
  position: absolute;
  top: 20%;
  right: 5%;

}

#workers-img-wrapper img{
  height: 400px;

  box-shadow: 0px 20px 30px #000;

  border-radius: 20px;
}

#call-info-wrapper{
  display:inline-block;

  position: absolute;

  bottom: 12%;
  left: 18%;

  padding: 1em;


  background-color: rgba(0,0,0, 0.20);
}

#call-info-wrapper img{
  display: inline-block;
  height: 30px;
}

#call-info-wrapper p{
  display: inline-block;
  position: absolute;
  /* Kinda makes the phone numbers look centered.
  Fix this somehow */
  transform: translate(0, 45%);

  padding-left: 1em;
}

#information-section{
  text-align: center;
  height: 450px;
}

#information-section div{
  margin-top: 2em;
  margin-bottom: 2em;
}

#information-section li{
  margin-top: 2em;
  list-style: none;

  width: 150px;
  height: 175px;

  align-items: center;

  font-size: 16px;

  background-color: #1D1D1D;
  padding: 3em 4em;
}

#information-section h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 180%;
}

.info-list ul{
  font-family: 'Open sans', sans-serif;
  font-size: 100%;
  width: 150px;
  margin-bottom: 0.5em;
  padding: 0.2em 0em;
}

#info-left{
  float:left;
  margin-left: 20%;
}

#info-right{
  float: right;
  margin-right: 20%;
}

#details-section{
  display: flex;
  height: 370px;
}

#details-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 10%;


  text-align: center;

  position: relative;
}

#details-left div:nth-child(-n+4){
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  width: 425px;
  height: 100%;
}

#details-left h2:nth-child(-n+4){
  text-shadow: 0px 3px 4px black;
}

#detail-water{
  /*This is the only way for it to work*/
  background:
    linear-gradient(
      rgba(37, 103, 162, 0.25),
      rgba(37, 103, 162, 0.25)
      ),
  url('./images/water.jpg');

  background-position: 60% 45%;
  background-size: 100%;
}

#detail-concrete{
  background:
    linear-gradient(
      rgba(29, 169, 116, 0.45),
      rgba(29, 169, 116, 0.45)
      ),
    url('./images/concrete.jpg');
    background-position: 0%, 45%;
    background-size: 100%;
}

#detail-lot{
  background:
    linear-gradient(
      rgba(250, 107, 43, 0.5),
      rgba(250, 107, 43, 0.5)
      ),
    url('./images/lot.jpg');
    background-size: 100%;
    background-position: 0% 60%;
}

#detail-sewer{
  background:
    linear-gradient(
      rgba(250, 164, 43, 0.4),
      rgba(250, 164, 43, 0.4)
      ),
    url('./images/sewer.jpg');
    background-size: 100%;
    background-position: 0% 80%;
}

#details-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: justify;

  overflow: hidden;
}

#details-right{
  padding: 0 6em;
}

#details-right p:nth-child(1){
  margin-top: 3em;
}

#details-right p:nth-child(2){
  margin-bottom: 3em;
}

#jobs-section{
  position: relative;
  margin-top: 8em;
  height: 900px;
  width: 100%;

  background: linear-gradient(
    rgba(0,0,0,0.25),
    rgba(0,0,0,0.25)
    ),
   url("./images/bridge.jpg");

  background-size: 100%;
  background-position: 30% 40%;

}

#jobs-section div:nth(-n+1){
  height: 50%;

  display: flex;
  justify-content: space-around;
}

#jobs-section #img-row-1-wrapper{
  height: 30%;
  padding: 0;

  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

#img-row-1-wrapper img{
  margin-top: 6em;
  height: 70%;
  width: 200px;
}

#jobs-section #img-row-2-wrapper{
  height: 30%;
  padding 0;

  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

#img-row-2-wrapper img{
  margin-top: 6em;
  height: 70%;
  width: 200px;
}

#profile-img-wrapper{
  display: inline-block;
}

#jobs-section div:nth-child(2){
  display: flex;
  align-items: center;
}

#business-card-wrapper{
  display: inline-block;
  align-self: center;
  height: 260px;
  width: 40em;

  background-color: white;

  position: absolute;

  top:68%;
  left:50%;

  transform: translate(-50%, 0);
}

#profile-image-wrapper img{
  background-color: white;
  border-radius: 100%;

  position: absolute;
  top: -1.5em;
  left: 2em;

  height: 95%;

  border-color: red;

  box-shadow: 5px 10px 10px black;
}

#profile-image-wrapper h2{
  margin-top: 4%;
  margin-left: 65%;
}

#profile-image-wrapper p{
  margin-top: 0.2em;
  margin-left: 63%;
}

#profile-image-wrapper p:nth-child(7){
  font-size: 90%;
  margin-left: 40%;
  margin-bottom: 2%;
  position: absolute;
  bottom:0;
  left:0;
}

.black{
  color: black;
}
